/* default resets */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.greybg {
    background-color: gainsboro;
}
.main-padding{
    padding-top: 50px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding-left: 60px;
}

.blue-bg{
    background-color: aqua;
}
/* header elements */
.header-section {
    background-color: white;
    padding-left: 40px;
}
.header-title {
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    
    
}
.header-logo {
    width: 70px;
    vertical-align:middle;

}
/* buttons section */
.buttons-container{
    padding: 10px 10px 10px;

}
.button {
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
    border-radius: 5px;
}