/* default resets */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.grey-bg {
    background-color: gainsboro;
}
.main-padding{
    padding-top: 50px;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    /* padding-left: 60px; */
}


/* header elements */
.header-section {
    background-color: white;
    padding-left: 40px;
}
.header-title {
    display: inline-block;
    font-size: 70px;
    vertical-align: middle;
    
    
}
.header-logo {
    width: 70px;
    vertical-align:middle;

}
/* buttons section */
.buttons-container{
    padding: 20px;

}
.button {
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
    border-radius: 5px;
}
.blue-bg{
    background-color: aqua;
    color: white;
    border-color: bisque;
}
.white-bg{
    background-color: white;
    color: grey;
    border-color: bisque;
}

/* lists */

ul, ol {
    list-style: none;
    padding: 0px;
}
.list-margin {
    margin-top: 5px;
}
.left-padding{
    padding-left: 20px;
}
.top-bottm-padd{
    padding-top: 20px;
    padding-bottom: 20px ;
}
.left-padding-listitems{
    padding-left: 5px;
}